<footer>
    <article class="container">
        <div class="footer_left">
            <img src="../assets/img/logo.png" alt="" class="logo">
            <div class="border"></div>
            <div class="footer_left_info">
                <p>Everland &#169; 20017-2018</p>
                <p>Support@Everland.com</p>
            </div>
        </div>
        <section>
            <p>Профиль</p>
            <a href="#">Рекомендации фрилансерам</a>
            <a href="#">Рекомендации заказчикам</a>
            <a href="#">Рекомендации наставникам</a>
        </section>
        <section>
            <p>Проект</p>
            <a href="#">Опубликовать проект</a>
        </section>
        <section>
            <p>О сайте</p>
            <a href="#">Помощь</a>
            <a href="#">Правила</a>
        </section>
    </article>
</footer>