{{ define "header_lk" }}

    <header>
        <div class="container">
            <div class="header_left">
                <a href="/"><img src="/assets/img/logo.png" alt="Logo" class="logo"></a>
                <div class="border"></div>
                <input type="text" placeholder="Поиск"/>
            </div>
            <nav>
                <img src="/assets/img/burger.svg" alt="burger" class="burger">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="/lk/help/">Помощь</a></li>
                    <li><a class="last_nav" href="/">Выход</a></li>
                </ul>
            </nav>
        </div>
    </header>

{{ end }}