<!DOCTYPE html>
<html>
<head>
    <title>EL - Заказчику</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <link rel="icon" href="../assets/img/lk/nav_icon_1.png" type="images/png"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/main.css">
    <!-- SCRIPT -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <div class="header_left">
                <a href="#">
                    <img src="../assets/img/logo.png" alt="Logo" class="logo">
                </a>
                <div class="border"></div>
                <input type="text" placeholder="Поиск">
            </div>
            <nav>
                <img src="../assets/img/burger.svg" alt="burger" class="burger">
                <ul>
                    <li><a href="/main/">Заказчику</a></li>
                    <li class="border"></li>
                    <li><a class="last_nav" href="/lk/main/">ЛК</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="main_wrap">
                <p>Миллион исполнителей готовы Вам помочь</p>
                <a href="">Найти исполнителя</a>
            </div>
            <div class="down_btn" href="#catalog">
                <img src="../assets/img/down_arrow.svg" alt="">
            </div>
        </div>
    </main>
                                                                                                                                                                          
    <section id="catalog">
        <p>Каталог исполнителей</p>
        <div class="container">
            <div class="catalog_columns" id="catalog_left">
                <p>Разработка сайтов</p>
                <p>Программирование</p>
                <p>Реклама и Маркетинг</p>
                <p>Анимация и флеш</p>
                <p>Инжиниринг</p>
                <p>Обучение и консультации </p>
                <p>Мобильные приложения</p>
            </div>
            <div class="catalog_columns" id="catalog_center">
                <p>Тексты </p>
                <p>Аутсорсинг и консалтинг</p>
                <p>Переводы</p>
                <p>Фотография</p>
                <p>Оптимизация (SEO)</p>
                <p>Полиграфия Менеджмент</p>
                <p>Сети и инфосистемы </p>
            </div>
            <div class="catalog_columns" id="catalog_right">
                <p>Дизайн и Арт</p>
                <p>Архитектура/Интерьер</p>
                <p>Разработка игр</p>
                <p>3D Графика</p>
                <p>Аудио/Видео</p>
                <p>Менеджмент</p>
            </div>
        </div>
    </section>

    <section id="choose">
        <p>Выберите свой путь на платформе фриланса Everland</p>
        <div class="container">
            <div class="choose_columns" id="choose_left">
                <img src="../assets/img/setting.png" alt="">
                <p>Опубликовать проект и найти специалиста</p>
                <a href="">Опубликовать</a>
            </div>
            <div class="choose_columns" id="choose_center">
                <img src="../assets/img/loupe.png" alt="">
                <p>Стать фрилансером <br> и найти работу</p>
                <a href="">Найти</a>
            </div>
            <div class="choose_columns" id="choose_right">
                <img src="../assets/img/help.png" alt="">
                <p>Стать наставником и помочь фрилансерам</p>
                <a href="">Стать</a>
            </div>
        </div>
    </section>

    <section id="mentors">
        <p>Платформе фриланса Everland помогает исполнителям уже 2 года</p>
        <div class="container helpers_box">
            <div id="mentor_left">
                <div class="mentor_left_header">
                    <img src="../assets/img/photo_1.png" alt="">
                    <div>
                        <p class="mentor_name">Наталья Антонова <br><span>Наставник с 2015 года</span></p>
                        <p>Обучила 23 исполнителя</p>
                    </div>
                </div>
                <p>Мне нравится моя работа! С 2018 года, я успела пообщаться с очень многими исполнителями. Это лучшее, чем я занималась в свободное время. Спасибо Everland за такую возможность, надеюсь, в будущем, многие будут работать так же! Мне нравится моя работа! С 2018 года, я успела пообщаться с очень многими исполнителями. Это лучшее, чем я занималась в свободное время. Спасибо Everland за такую возможность, надеюсь, в будущем, многие будут работать так же! Мне нравится моя работа! С 2018 года, я успела пообщаться с очень многими исполнителями. Это лучшее, чем я занималась в свободное время. Спасибо Everland за такую возможность!</p>
            </div>
            <div id="mentor_right">
                <div>
                    <img src="../assets/img/photo.png" alt="">
                    <div>
                        <p class="mentor_name">Олег Ефремов <br><span>Наставник с 2013 года</span></p>
                        <p>Обучил 12 исполнителей</p>
                    </div>
                </div>
                <div>
                    <img src="../assets/img/photo_2.png" alt="">
                    <div>
                        <p class="mentor_name">Анатолий Иванов <br><span>Наставник с 2016 года</span></p>
                        <p>Обучил 8 исполнителей</p>
                    </div>
                </div>
                <div class="break_mentor"></div>
                <div>
                    <img src="../assets/img/photo_3.png" alt="">
                    <div>
                        <p class="mentor_name">Даниил Андреенко <br><span>Наставник с 2014 года</span></p>
                        <p>Обучил 19 исполнителей</p>
                    </div>
                </div>
                <div>
                    <img src="../assets/img/photo_4.png" alt="">
                    <div>
                        <p class="mentor_name">Сергей Петров <br><span>Наставник с 2015 года</span></p>
                        <p>Обучил 15 исполнителей</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <article class="container">
            <div class="footer_left">
                <img src="../assets/img/logo.png" alt="" class="logo">
                <div class="border"></div>
                <div class="footer_left_info">
                    <p>Everland &#169; 20017-2018</p>
                    <p>Support@Everland.com</p>
                </div>
            </div>
            <section>
                <p>Профиль</p>
                <a href="#">Рекомендации фрилансерам</a>
                <a href="#">Рекомендации заказчикам</a>
                <a href="#">Рекомендации наставникам</a>
            </section>
            <section>
                <p>Проект</p>
                <a href="#">Опубликовать проект</a>
            </section>
            <section>
                <p>О сайте</p>
                <a href="#">Помощь</a>
                <a href="#">Правила</a>
            </section>
        </article>
    </footer>
    <script>
        jQuery(document).ready(function($) {
            $('.burger').click(function() {
                $('header ul').slideToggle();
            });

            $('.down_btn').bind("click", function(e){
                var anchor = $(this);
                $('html, body').stop().animate({
                    scrollTop: $(anchor.attr('href')).offset().top
                }, 1000);
                e.preventDefault();
            });
        });
    </script>
</body>
</html>