<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>EL - Проверка</title>
    <link rel="icon" href="../assets/img/lk/nav_icon_1.png" type="images/png"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" href="../assets/css/sign_up.css">
	<!-- SCRIPT -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script  src="../assets/js/sign_up.js"></script>
</head>
<body>
	<header>
		<div class="container">
				<div class="header_left">
						<a href="index.html"><img src="../assets/img/logo.png" alt="Logo" class="logo"></a>
						<div class="border"></div>
						<input type="text" placeholder="Поиск">
				</div>
				<nav>
						<img src="../assets/img/burger.svg" alt="burger" class="burger">
						<ul>
								<li><a href="landing.html">Заказчику</a></li>
								<li class="border"></li>
								<li><a class="last_nav" href="lk_main.html">ЛК</a></li>
						</ul>
				</nav>
		</div>
	</header>
	<main class="question question_1">
		<div class="container">
			<div>
				<p>Регистрация исполнителя<br><span>Проверка</span></p>
			</div>
			<div class="main_center">
				<div>
					<img src="../assets/img/speach.png" alt="speach">
					<p><span>У вас есть проблемы со зрением?</span></p>
				</div>
				<aside>
					<button id="yes_1" class="btn_click">Да</button>
					<button id="no_1" class="btn_click">Нет</button>
				</aside>
			</div>
		</div>
	</main>
	<main class="question question_2">
		<div class="container">
			<div>
				<p>Регистрация исполнителя<br><span>Проверка</span></p>
			</div>
			<div class="main_center">
				<div>
					<img src="../assets/img/speach.png" alt="speach">
					<p><span>Вы хотите перевести сайт в режим "Управление голосом"?</span></p>
				</div>
				<aside>
					<button id="yes_2" class="btn_click">Да</button>
					<button id="no_2" class="btn_click">Нет</button>
				</aside>
			</div>
		</div>
	</main>
	<main class="question question_3">
		<div class="container">
			<div>
				<p>Регистрация исполнителя<br><span>Проверка</span></p>
			</div>
			<div class="main_center">
				<div>
					<img src="../assets/img/speach.png" alt="speach">
					<p><span>Вы хотите перевести сайт в режим "Для слабо видящих"?</span></p>
				</div>
				<aside>
					<button id="yes_3" class="btn_click">Да</button>
					<button id="no_3" class="btn_click">Нет</button>
				</aside>
			</div>
		</div>
	</main>
	<main class="question question_4">
		<div class="container">
			<div>
				<p>Регистрация исполнителя<br><span>Проверка</span></p>
			</div>
			<div class="main_center">
				<div>
					<img src="../assets/img/speach.png" alt="speach">
					<p><span>У вас есть проблемы с координацией движений?</span></p>
				</div>
				<aside>
					<button id="yes_4" class="btn_click">Да</button>
					<button id="no_4" class="btn_click">Нет</button>
				</aside>
			</div>
		</div>
	</main>
	<footer>
		<article class="container">
			<div class="footer_left">
				<img src="../assets/img/logo.png" alt="" class="logo">
				<div class="border"></div>
				<div class="footer_left_info">
					<p>Everland &#169; 20017-2018</p>
					<p>Support@Everland.com</p>
				</div>
			</div>
			<section>
				<p>Профиль</p>
				<a href="#">Рекомендации фрилансерам</a>
				<a href="#">Рекомендации заказчикам</a>
				<a href="#">Рекомендации наставникам</a>
			</section>
			<section>
				<p>Проект</p>
				<a href="#">Опубликовать проект</a>
			</section>
			<section>
				<p>О сайте</p>
				<a href="#">Помощь</a>
				<a href="#">Правила</a>
			</section>
		</article>
	</footer>
    <script>
		jQuery(document).ready(function($) {
			$('.burger').click(function() {
				$('header ul').slideToggle();
			});
		});
	</script>
</body>
</html>